In [1]:
import pandas as pd

In [9]:
PEREGON_HACKATON = pd.read_excel('PEREGON_HACKATON.xlsx')

In [10]:
PEREGON_HACKATON.head()

   START_CODE  END_CODE  LEN
0           2       805   32
1           6         2   27
2           8         6   27
3          12         8   29
4          15        12   19

In [11]:
STATION_COORDS_HACKATON = pd.read_excel('STATION_COORDS_HACKATON.xlsx')

In [18]:
STATION_COORDS_HACKATON.shape

(15173, 3)

In [17]:
STATION_COORDS_HACKATON.tail()

       ST_ID  LATITUDE  LONGITUDE
15168  25876   56.5624    57.7346
15169  25877   56.6841    57.9468
15170  25878   56.8725    59.2641
15171  25879   56.4072    52.9355
15172  25880   56.2014    52.6143

In [6]:
big_data = pd.read_excel('disl_hackaton.xlsx')

In [24]:
big_data[big_data['TRAIN_INDEX'] == '16069-697-20792']

        WAGNUM            OPERDATE  ST_ID_DISL  ST_ID_DEST      TRAIN_INDEX
993940    6701 2023-07-16 07:32:00       18862        2331  16069-697-20792
993977    6701 2023-07-15 21:57:00       19396        2331  16069-697-20792
993999    6701 2023-07-15 21:12:00       19400        2331  16069-697-20792
994008    6701 2023-07-15 19:12:00       19400        2331  16069-697-20792
994014    6701 2023-07-14 21:11:00       22308        2331  16069-697-20792
...        ...                 ...         ...         ...              ...
999955    6701 2023-07-16 00:02:00       19383        2331  16069-697-20792
999981    6701 2023-07-15 11:45:00       22275        2331  16069-697-20792
999982    6701 2023-07-15 11:27:00       22272        2331  16069-697-20792
999983    6701 2023-07-15 10:58:00       22268        2331  16069-697-20792
999988    6701 2023-07-15 06:56:00       21819        2331  16069-697-20792

[73 rows x 5 columns]

In [26]:
xls = pd.ExcelFile('disl_hackaton.xlsx')
df1 = pd.read_excel(xls, 'Sheet 1')
df2 = pd.read_excel(xls, 'Sheet 2')
df3 = pd.read_excel(xls, 'Sheet 3')
df4 = pd.read_excel(xls, 'Sheet 4')
df5 = pd.read_excel(xls, 'Sheet 5')
df6 = pd.read_excel(xls, 'Sheet 6')
df7 = pd.read_excel(xls, 'Sheet 7')
df8 = pd.read_excel(xls, 'Sheet 8')
df9 = pd.read_excel(xls, 'Sheet 9')
df10 = pd.read_excel(xls, 'Sheet 10')
df11 = pd.read_excel(xls, 'Sheet 11')
df12 = pd.read_excel(xls, 'Sheet 12')
df13 = pd.read_excel(xls, 'Sheet 13')
df14 = pd.read_excel(xls, 'Sheet 14')

In [41]:
total_data = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14], axis=0)

In [42]:
total_data.shape

(13698173, 5)

In [63]:
total_data = total_data.sort_values(by=['OPERDATE'])

In [73]:
small_total_data_12 = total_data[:1700000]

In [84]:
small_total_data_12.tail()

        WAGNUM    OPERDATE  ST_ID_DISL  ST_ID_DEST      TRAIN_INDEX
989046    7829  1686547320       22828       17613  10686-008-17613
952707    5852  1686547320        5093       16069   1770-244-20713
22260      857  1686547320       21523       21512  20792-091-21523
796143     951  1686547320        5650       20715    5662-030-5641
305481     967  1686547320        1709         748     1770-510-686

In [82]:
small_total_data_12 = small_total_data_12.convert_dtypes()

In [79]:
small_total_data_12['OPERDATE'] = small_total_data_12['OPERDATE'].apply(lambda x: x.timestamp())

In [86]:
small_total_data_12.to_csv('small_total_data_12_plus_plus.csv', sep=';', index=False, header=True)